{% extends "layout.html" %}
{% block body %}
  <script src="{{ url_for('static', filename='js/generate.js') }}"></script>
  <div ng-controller="generateFilesControl" class="container" ng-init="clearAlert();">
    <div ng-hide="!alert">
      {{ alert | angular }}
      <a href="{{ fileURL | angular }}">{{ filename | angular }}</a>
    </div>
    <fieldset>
      <div class="form-group" ng-class="{'form-group has-error' : noField == 'contents'}">
        <label> {{ fileContents | angular }} </label>
        <input type="text" ng-model="contents" class="form-control"
          placeholder="{{ fileContents | angular }}"/>
      </div>
      <button class="btn btn-primary" ng-click="generateDocument();";>
        {{ generateDoc | angular }}
      </button>
    </fieldset>
  </div>
{% endblock %}
